<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if site.active_conference.ticket_url %}
                <li>
                    <a target="_blank" href="{{ site.active_conference.ticket_url }}">Buy tickets</a>
                </li>
                {% endif %}
                {% if site.active_conference.cfp_url %}
                <li>
                    <a target="_blank" href="{{ site.active_conference.cfp_url }}">Submit a paper</a>
                </li>
                {% endif %}

                {% for doc in site.documents %}
                    {% assign conference_name = site.active_conference.name | slugify %}
                    {% if doc.collection == conference_name and doc.url contains "/index.html" and doc.title %}
                <li>
                    <a href="{{ doc.url | prepend: site.baseurl }}"> {{ doc.title }}</a>
                </li>
                    {% endif %}
                {% endfor %}

                {% for page in site.pages %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
