---
layout: page
title: "Talks"
description: "Hands-on experiences and cutting-edge researches"
header-img: "img/index-bg.jpg"
---

{% assign page_category = page.url | remove: "/index.html" %}
{% assign documents = site.documents | sort: 'title' %}
{% for doc in documents %}

{% if doc.layout == "talk" and doc.speakers %}

<div class="post-preview">
    <a href="{{ doc.url | prepend: site.baseurl }}">
        <h2 class="post-title" id="{{ doc.title | slugify }}">
            {{ doc.title }}{% if doc.title_en %} // {{ doc.title_en }}{% endif %}
        </h2>
    </a>
    <p class="post-meta">
        Presented by
        {% for speaker in doc.speakers %}
            <a href="/{{ speaker.link_name | slugify | append: '.html' | prepend: '/speakers/' | prepend: doc.collection }}">{{ speaker.display_name }}</a>{% if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
    </p>
</div>
<hr>
{% endif %}
{% endfor %}
